@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;;
}
span{
    color: orange;
}
section{
    display: flex;
    padding: 5%;
    margin-bottom: 100px;
}
h1{
    font-size: 3em;
}
.half-width{
    width: 50%;
}
.button{
    text-decoration: none;
    background-color:solid;
    background-image: linear-gradient(orange, salmon);
    padding: 10px 40px;
    border-radius: 15px;
}
section-2{
    background-image: url(7.png);
    display: flex;
    margin-bottom: 100px;
}
#text-align{
    font-size: 1.1em;
    padding-top: 100px;
}
.our-recipies{
    text-align: center;
    margin-bottom: 100px;
}
#img-size{
    max-width: 60%;
    height: auto;
}
.box{
    display: flex;
    margin-left: 20%;

    margin-right: 20%;
}
#box-width{
    width: 33%;
}
#box-width{
    text-align: center;
}